<div id="cluster-table-container" class="overflow-x-auto">
    <table class="min-w-full">
        <thead>
            <tr class="bg-slate-50 text-xs tracking-wide uppercase dark:bg-slate-900">
                <th class="px-6 py-4 text-left text-slate-700">Name</th>

                <th class="px-6 py-4 text-left text-slate-700">Environment</th>

                <th class="px-6 py-4 text-left text-slate-700">Status</th>

                <th class="px-6 py-4 text-left text-slate-700">Nodes</th>

                <th class="px-6 py-4 text-left text-slate-700">K8S Version</th>

                <th class="px-6 py-4 text-left text-slate-700">Namespaces</th>

                <th class="px-6 py-4 text-left text-slate-700">Inventory</th>

                <th class="px-6 py-4 text-left text-slate-700">Last Check</th>

                <th class="px-6 py-4 text-right text-slate-700">Actions</th>
            </tr>
        </thead>

        <tbody id="cluster-table-body">
            {% for cluster in clusters %} {% include "cluster/partials/row.html" %} {% endfor %}
        </tbody>
    </table>
</div>
