<div id="cluster-table-container" class="overflow-x-auto">
    <table class="min-w-full">
        <thead>
            <tr
                class="bg-slate-50 text-xs tracking-wide text-slate-500 uppercase dark:bg-slate-900 dark:text-slate-400"
            >
                <th class="px-6 py-4 text-left">Name</th>

                <th class="px-6 py-4 text-center">Environment</th>

                <th class="px-6 py-4 text-center">Status</th>

                <th class="px-6 py-4 text-center">Nodes</th>

                <th class="px-6 py-4 text-center">K8S Version</th>

                <th class="px-6 py-4 text-center">Namespaces</th>

                <th class="px-6 py-4 text-center">Inventory</th>

                <th class="px-6 py-4 text-center">Prometheus</th>

                <th class="px-6 py-4 text-center">Last Check</th>

                <th class="w-64 px-6 py-4 text-center">Actions</th>
            </tr>
        </thead>

        <tbody id="cluster-table-body">
            {% for cluster in clusters %} {% include "cluster/partials/row.html" %} {% endfor %}
        </tbody>
    </table>
</div>
